<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.woc.mapper.UserMapper">
    <select id="sample" parameterType="string">
--         注意，这里这个sql语句只是示例
        SELECT * FROM `user` WHERE user_name =#{value};
    </select>
</mapper>
